#wrapper {
  background-image: url("../assets/background.webp");
  background-position:top;
  background-repeat: no-repeat;
  background-attachment:fixed;
  width:100%;
  height: 4000px;
}
#head_main{
    float:left;
}
#body_main{
    float:left;
    width:100%;
    height:auto;
}
#footer_main{
    float:left;
    width: 100%;
    margin-top:3000px;
}

